# Default ignored files
/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml

# Java
target/

# MacOs
.DS_Store

# AI
.claude
.codegraph
